*{
	margin: 0;
	padding: 0;
}
/* Se disponen todas las capas principales y se le da posición y estilo,
 se añade overflow:auto a la capa contenido para que las otras capas no salgan de esta. */
#contenedor{
	width: 1200px;
	height: 1000px;
	background: #EBEDEF ;
	margin: 0.5em auto;
	padding: 0.5em;
	border: 3px solid;
	border-color: #D5D8DC;
}
#encabezado{
	height: 20%;
	margin: 1em;
}
#contenido{
	height: 65%;
	overflow:auto; 
	margin: 1em;
    background: #FCF3CF;            /*#F4D03F;*/
}
#pie{
    height: 10%;
    background: #FBEEE6;           /*#F9E79F;*/
    border: 2px solid;
    margin: 1em;
}
#logo{
	height: 100%;
	width: 30%;
	float: left;
	
	/*border: 3px solid;*/
	border-color:#D5D8DC; 
}
/* Se le da estilo y posicionamiento al menú se le añade 
display: inline-block para que salgan en la misma linea, 
text-decoration:none; quita los puntos de la lista. 
lleva un hover para crear efecto sobre el botón. */
#menu{
	

}
#menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    
}
#menu ul li{
	display: inline-block;
    background-color: #ABB2B9;
    margin: 50px 9px 10px;
}
#menu ul li a{
    
	color: white;
	display: block;
	padding: 10px 57px;
	text-decoration: none;
    border: #808B96 2px outset;
}
#menu ul li a:hover{
	background-color: #414245; 
}
.item-r{
	float: right;
}

/* Se da forma y estilo a las capas que están dentro de la capa contenido y se da estilo a la lista. */
#inicio{
	border: 1px solid;
	height: 800px;
	background: #F2F3F4;
	margin: 10px 10px 10px;
}
#list{
	position: relative;
	left: 450px;
    bottom: 0px;
	
	width: 200px;
	height: 210px;
	display: flex;
	margin: 10px 50px 10px;
}
#productos{
	border: 1px solid;
	height: 1300px;
	background: #F2F3F4;
	margin: 10px 10px 10px;
    
}
#formacion{
	border: 1px solid;
	height: 300px;
	background: #F2F3F4;
	margin: 10px 10px 10px;
}
#citapre{
	border: 1px solid;
	height: 900px;
	background: #AEB6BF;                  /*#AEB6BF;*/
	margin: 10px 10px 10px;
}
/* Con display lo tratamos como bloque y margin: auto; lo centra. */
video{
	display: block;
	margin: auto;
}
/* Se establece posición y estilo de las fotos alojadas en 
los contenedores que se hicieron en html,  se le añade efecto hover para el
 aumento de escala y se especifica cual es(scale(1.2);), también transition 
 en milisegundos para tiempo de efecto. se colocan en su posición los textos 
 que acompañan a las fotos: #texto1{ . */
.container1{
	width: 470px;
	height: 500px;
	display: flex;
	margin: 10px 50px 10px;

}
.container1 figure{
    width: 470px;
    height: 500px;
    overflow: hidden;
    transition: all 500ms ease;
    border-radius: 5px;
    box-shadow: 1px 5px 10px rgba(0,0,0,0.50);
}
.container1 figure img{
	transition: all 500ms ease;
}
.container1 figure img:hover{
    transform: scale(1.2);
    cursor: pointer;
}
.container2{
	width: 470px;
	height: 500px;
	display: flex;
	margin: 10px 10px 10px;
	position: relative;
	left: 600px;
    bottom: 548px;
}
.container2 figure{
    width: 470px;
    height: 500px;
    overflow: hidden;
    transition: all 500ms ease;
    border-radius: 5px;
    box-shadow: 1px 5px 10px rgba(0,0,0,0.50);

}
.container2 figure img{
	transition: all 500ms ease;
}
.container2 figure img:hover{
    transform: scale(1.2);
    cursor: pointer;

}
.container3{
	width: 470px;
	height: 500px;
	display: flex;
	margin: 10px 10px 10px;
	position: relative;
	left: 40px;
    bottom: 500px;
}
.container3 figure{
    width: 470px;
    height: 500px;
    overflow: hidden;
    transition: all 500ms ease;
    border-radius: 5px;
    box-shadow: 1px 5px 10px rgba(0,0,0,0.50);
}
.container3 figure img{
	transition: all 500ms ease;
}
.container3 figure img:hover{
    transform: scale(1.2);
    cursor: pointer;
}
.container4{
	width: 470px;
	height: 500px;
	display: flex;
	margin: 10px 10px 10px;
	position: relative;
	left: 600px;
    bottom: 1047px;
}
.container4 figure{
    width: 470px;
    height: 500px;
    overflow: hidden;
    transition: all 500ms ease;
    border-radius: 5px;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.50);
}
.container4 figure img{
	width: 470px;
	height: 500px;
	transition: all 500ms ease;
}
.container4 figure img:hover{
    transform: scale(1.2);
    cursor: pointer;
}
#texto1{
	position: relative;
	top: 560px;
	left: 200px;
}
#texto2{
	position: relative;
	bottom: -10px;
	left: 770px;
}
#texto3{
	position: relative;
	bottom: -50px;
	left: 210px;
}
#texto4{
	position: relative;
	bottom: 500px;
	left: 790px;
}
/* Alineación tabla. */
table{
	
	text-align: center;	
	width: 500px;
	margin: 0 auto;
}

/* Se establece estilo y posición del formulario, del texto e imagen que le acompañan. 
se le añaden color y estilo al botón y también efecto hover (.btn-green{), 
con form se añade color y posicionamiento. con field:focus{ añadimos efecto al pasar sobre el botón. */
#formulario{
	border: 2px solid;
	border-color: #CCD1D1;
	width: 540px;
	height: 387px;
	background: #F4F6F6;
	float: right;
	margin: 10px 40px 10px;
	position: relative;
	bottom: 445px;
}
#imagen{
	border: 2px solid;
	margin: 10px 40px 10px;
	height: 450px;
	width: 450px;
}
#textcita{
	margin: 20px 10px 10px;
	width: 200px;
	position:relative;
	right: -150px;	
}
.btn{
	border-radius: 3px;
	display: inline-block;
	padding: 20px 15px;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(255,255,255,0.3);
	box-shadow: 0 1px 1px rgba(0,0,0,0.3);
}
.btn-green{
	color: white;
	background-color: #3CC93F;
}
.btn-green:hover{
	background-color: #37B839;
}
.btn-green:active{
	background-color: #29962A;
}
form{
	background-color: white;
	border-radius: 3px;
	color: #999;
	padding: 10px;
	margin: 0 auto;
	width: 300px;
}
input, textarea{
	border: 0;
	outline: none;
}
.field{
	top: 20px;
	border: solid 1px #CCC;
	padding: 10px;
	width: 300px;
}
.field:focus{
	border-color: #18A383;
}
/* Posicionamiento wn la capa pie de foto, texto y link. */
#fotopie{
	float: center;
	position:relative;
	bottom: -58px;
}
#textpie{
	position: relative;
	top: -60px;
}
#linklegal{
	position: relative;
	top: 20px;
	right: -130px;
}
/* posicionamiento de los iconos rss*/
#iconosrss{
    float: right;
    position: relative;
    top: -30px;
}